/* User container */
div {
  width: 220px;
}

/* User button */
button {
  width: 100%;
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 6px;

  background: #0c0615;
  color: white;

  font: inherit;
  cursor: pointer;
}

/* User button when mouse hovers */
button:hover {
  background: #1e043c;
}

/* User profile image */
img {
  width: 50px;
  height: 50px;

  object-fit: cover;
  border-radius: 50%;
}

/* User name */
span {
  font-size: 0.9rem;
  white-space: nowrap;
}